**/private/*

src/prompts/custom/*

container/qdrant/data/*
container/ollama/data/*
container/webui/data/*

!container/qdrant/data/.gitkeep
!container/ollama/data/.gitkeep
!container/webui/data/.gitkeep

data/*
!data/readme.md
!data/.cache/.gitkeep
!data/.logs/.gitkeep
!data/.jobs/.gitkeep
!data/.users/.gitkeep

settings.py
settings.R
.env

imagepullsecret.yaml

__pycache__