<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css?v1.0">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>Datavana Databoard</h1>
        {% if taskcount is defined and taskcount is not none %}
        <div class="state">{{ taskcount }} tasks in the queue</div>
        {% endif %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>
